.cell {
    width: 100px;
    height: 130px;
    font: 90px sans-serif;
    text-align: center;
    vertical-align: center;
    text-transform: uppercase;
}

.cell button {
    font: 90px sans-serif;
}