{% extends "index.html" %}

{% block content %}

            <div class="row">
              <div class="large-6 columns">
                  <article>
                  <h3>Game #{{ game.id }}</h3>
                  <p class="data">
                      {% if game.winner %}
                      Game Over! {{game.winner}} wins.
                      {% elif game.full %}
                      Game Over! Tie.
                      {% else %}
                      Please place an {{game.turn}} on the game board.

                      {% endif %}
                  </p>
                  <p>turn: <span id="turn">{{game.turn}}</span></p>
                  <form action="" method="post">
                  <table border="1" width="100%">
                      <input type="hidden" name="side" value="{{side}}" />
                      {% for row in game.board %}
                      {% set outer_loop = loop %}
                      <tr>
                        {% for col in row %}

                        <td class="cell" id="cell_{{outer_loop.index0}}{{loop.index0}}">
                            {% if col %}
                            {{col}}
                            {% endif %}
                        </td>
                        {% endfor %}
                      </tr>
                      {% endfor %}
                  </table>
                  </form>

                  <a href="/">Home</a></p>
                  </article>
              </div>
            </div>
{% endblock %}
{% block javascript %}
<script>
    var turn = '{{game.turn}}';
    var side = '{{game.turn}}';
    {% if game.winner or game.full %}
    var over = true;
    {% else %}
    var over = false;
    {% endif %}
    if (over == true) {
        $(".cell").css("cursor", "default");
    } else {
        $(".cell").css("cursor", "pointer");
    }
    var gameId = {{game.id}};
    var board = {{game.board|tojson}};

</script>
{% endblock %}