<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TicTacToe</title>
    <link rel="stylesheet" href="/static/css/foundation.css" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <script src="/static/js/vendor/modernizr.js"></script>
  </head>
  <body>

      <!-- Main Page Content and Sidebar -->

      {% block content %}

   <div class="row">
        <!-- Main Content -->
      <div class="large-9 columns" role="content">

      <h3>Welcome to the tictactoe home page!</h3>
      {% if games %}
      <p>Check out the results of games or join a game below.</p>
      <table width="100%">
      <thead>
      <tr>
          <th>Game</th>
          <th>Result</th>
          <th>Join</th>
      </tr>
      </thead>
      <tbody>
      {% for game in games %}
      <tr>
          <td>{{game.id}}</td>
          <td>
          {% if game.winner %}
              {{game.winner}} wins!
          {% elif game.full %}
              Tie.
          {% else %}
              In progress, {{game.turn}}'s turn.
          {% endif %}
          </td>
          {% if not game.winner and not game.full %}
          <td><a href="{{ url_for('game', id=game.id, side='x') }}">join</a></td>
          {% else %}
          <td><a href="{{ url_for('game', id=game.id, side='x') }}">view</a></td>
          {% endif %}

      </tr>
      {% endfor %}
      </tbody>
      </table>
      {% endif %}
      <p><a href="{{ url_for('new', side='x') }}">New game</a></p>
      </div>

   </div>
      {% endblock %}

        <!-- End Main Content -->      
     
  <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/foundation.min.js"></script>
    <script src="/static/js/app.js"></script>

    <script>
      $(document).foundation();


    </script>
    {% block javascript %}{% endblock %}
  
    </body>
</html> 